appdirs
asgiref
autopep8
CacheControl
certifi
cffi
chardet
colorama
contextlib2
cryptography
defusedxml
diff-match-patch
distlib
distro
Django
django-allauth
django-crispy-forms
django-crum
django-import-export
django-modeltranslation
django-translation-flags
et-xmlfile
flake8
geographiclib
geopy
html5lib
idna
jdcal
lockfile
MarkupPy
mccabe
msgpack
oauthlib
odfpy
openpyxl
packaging
pep517
Pillow
progress
pycodestyle
pycparser
pyflakes
PyJWT
pyparsing
python3-openid
pytoml
pytz
PyYAML
requests
requests-oauthlib
retrying
six
sqlparse
tablib
toml
urllib3
webencodings
xlrd
xlwt